.root {
    grid-column: 3;
    grid-row: 2;

    height: 100%;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.chat {
    overflow-y: scroll;
    height: 90%;
}
