@import 'const';

.root {
    width: max(400px, 90vw);
    height: 700px;

    display: grid;
    grid-template-columns: 1fr 5fr 2fr;
    grid-template-rows: 1fr 7fr;
    grid-gap: 10px;

    border-radius: $border-radius;
    box-shadow: $neomorphic-shadow;
    padding: 1rem;
    background: #f1f3f6;
}

.header {
    grid-column: 2 / 4;
    grid-row: 1;

    display: flex;
    justify-content: space-around;
    align-items: center;

    span {
        font-weight: bold;
    }

    .hint {
        letter-spacing: 0.3rem;
        font-weight: 900;
    }
}

.canvas {
    grid-column: 2;
    grid-row: 2;
}

.timer {
    grid-row: 1;
    grid-column: 1;

    font-size: 1.25rem;
    font-weight: bold;
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;
}

.hint {
    font-weight: bold;
}

.users {
    grid-column: 1;
    grid-row: 2 / 3;
}
