@import '../../scss/const';

.root {
    grid-column: 3;
    grid-row: 2;
}

ul {
    overflow: scroll;
    height: 90%;
}

input {
    width: 100%;

    &:disabled {
        input:placeholder {
            content: 'you are drawing';
        }
    }
}

.message {
    background-color: #0f77ed;
    border-radius: 10px;
    color: #fff;
    padding: 5px;
    font-size: 0.8rem;
    margin-bottom: 0.5rem;
}
