@import '../../style/const';

.root {
    grid-column: 3;
    grid-row: 2;
    height: 100%;
}

.chat {
    overflow-y: hidden;
    height: 88%;
    max-height: 88%;
}

input {
    width: 100%;

    &:disabled {
        input:placeholder {
            content: 'you are drawing';
        }
    }
}

.message {
    background-color: #0f77ed;
    border-radius: 10px;
    color: #fff;
    padding: 5px;
    font-size: 0.8rem;
    margin-bottom: 0.5rem;
}
