@import '../../scss/const';
$input-height: 3rem;

.group {
    z-index: 1;
    position: relative;
    width: 100%;
    margin: 0 0 1rem;
}

input {
    box-shadow: inset 2px 2px 5px $shadow-color,
        inset -5px -5px 10px $light-color;
    width: 100%;
    box-sizing: border-box;
    transition: all 0.2s ease-in-out;
    appearance: none;
    -webkit-appearance: none;

    &:focus {
        box-shadow: inset 1px 1px 2px $shadow-color,
            inset -1px -1px 2px $light-color;
    }
}

label {
    margin-left: 1rem;
    margin-top: 0.2rem;
    display: block;
    transition: all 0.3s;
    text-transform: capitalize;
}

input:placeholder-shown + label {
    opacity: 0;
    visibility: hidden;
    $translate-height: -$input-height * 0.5;
    transform: translateY($translate-height);
    -webkit-transform: translateY($translate-height);
}
