@import '../../style/const';

.footer {
    margin: 0.5rem auto 0;
    width: fit-content;
    color: $shadow-color;
    font-size: 10px;
    text-align: center;
    user-select: none;

    &:hover {
        a {
            text-decoration: underline;
        }
    }
}
