@import '../../style/const';

.root {
    width: min(500px, 90vw);
    background: #f1f3f6;
    padding: 2rem 2rem 1rem;
    display: flex;
    flex-direction: column;
    border-radius: $border-radius;
    box-shadow: $neomorphic-shadow;

    & > * {
        margin-bottom: 0.75rem;
    }
}

span {
    margin: 0.5rem auto 0;
    width: fit-content;
    color: $shadow-color;
    font-size: 10px;
    text-align: center;
    user-select: none;

    &:hover {
        a {
            text-decoration: underline;
        }
    }
}
