.root {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;

    & > img {
        margin: 0 auto;
    }

    i {
        margin: 0 !important;
    }
}
