@import '../scss/const';

.root {
    color: $secondary-color;
    width: min(500px, 90vw);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: #f1f3f6;
    padding: 2rem 2rem 1rem;
    display: flex;
    flex-direction: column;
    border-radius: $border-radius;
    box-shadow: $neomorphic-shadow;
}

button {
    color: #61677c;
    font-weight: bold;
    box-shadow: -5px -5px 20px $light-color, 5px 5px 20px $shadow-color;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    padding: 0.7rem;
    text-transform: capitalize;
    display: inline-block;
    margin-bottom: 1rem;

    &:hover {
        box-shadow: -2px -2px 5px $light-color, 2px 2px 5px $shadow-color;
    }

    &:active {
        box-shadow: inset 1px 1px 2px $shadow-color,
            inset -1px -1px 2px $light-color;
    }
}

.primary-button {
    color: #0071e3;
}

.secondary-button {
    color: #0bda51;
}

span {
    color: $shadow-color;
    font-size: 10px;
    text-align: center;
    margin-top: 0.5rem;
    user-select: none;

    &:hover {
        a {
            text-decoration: underline;
        }
    }
}
